# swap files
*~
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.idea
.ipynb_checkpoints
.vscode

# OS X
.DS_Store

# heavy file formats
*.png
*.jpg
*.zip